
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>myView</title>
</head>
<body>
    <p>Here is view myView</p>
    <a asp-action="Register">Đăng ký học</a>
    @ViewBag.Kiendinh
    @ViewBag.Greeting
    
</body>
</html>
