@model B2RegistrationForm.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p> Thank you for registering, </p><p>@Model.Name ! </p>
    <a asp-action="StudentList">Danh sách đã đăng ký</a>
</body>
</html>
